.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.imagesCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.polyButton {
  color: blue;
  background-color: white;
  border: 2px solid blue;
  width: 100px;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.polyCont {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.polyCont > table {
  margin: 2em;
  padding: 2em;
  border: 2px solid rgb(15, 107, 255)
}